<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
		<title>{{if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='/css/style.css'>
        <link rel="stylesheet" href="/css/syntax.css">

        {{/* KaTeX Implementation */}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/contrib/auto-render.min.js" defer></script>
        <script defer>
            document.addEventListener("DOMContentLoaded", function() {
                renderMathInElement(document.body, {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "\\[", right: "\\]", display: true},
                        {left: "$", right: "$", display: false},
                        {left: "\\(", right: "\\)", display: false}
                    ]
                });
            });
        </script>

    </head>
	<body>
		<header>
            {{ partial "header.html" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
        <script src="/scripts/dark-mode.js"></script>
    </body>
</html>